# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# ========================
# C++
# ========================
*.o
*.out
*.exe
*.a
*.so
*.dll

# build directories
build/
cmake-build-*/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Misc
# ========================
*.log

# ========================
# LaTeX
# ========================
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# latex build directories
*.nav
*.snm
*.vrb